*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body{
    overflow-x: hidden;
   
}
/**
DEBUT
HEADER
**/
header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color:#ea8e04;;
    position: fixed;
    top: 0;
    z-index: 999;
}

.header-logo img{
    width: 70px;
    position : fixed; 
    left: 0px;
}

header .header-logo{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
}
header .header-menu{
    float: right;
    margin-right: 30px;
}
header .header-menu a{
    margin-right: 50px;
    color: #ffffff;
    font-size: 25px;
}
header .header-menu a:hover{
    color: #b84f2f;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}
/**
FIN
HEADER



/**
TEXTE 2
**/
.tout{
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.paragraphe{
    margin: 50px 50px 50px 50px;
    text-align: center;
    display: flex;
}

.paragraphe p{
    text-align: center;
    color: grey;
    font-size: 20px;
}

.paragraphe i{
    font-size: 40px;
    color: #00121b;
}

.paragraphe h2{
    font-size: 30px;
    color: #1b1b1d;
}

.paragraphe h3{
    color: #5ce1e6;
    font-size: 20px;
}

.paragraphe img{
    height: 450px;
    width: 750px;    
}



/**
DEBUT
FOOTER 
**/
.body-content{
    width: 100%;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 40px;
}

.footer{
    width: 100%;
    background-color: #fff;
    display: block;
}

.inner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

h1{
    padding: 10px 0;
    font-size: 25px;
    color: #ea8e04;
    text-transform: uppercase;
}

.footer-items p{
    color: black;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}


h2{
    margin: 10px 0;
    color: #ff9800;
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
}

.border{
    height: 2px;
    width: 50px;
    background-color: #ff9800;
}

ul{
    list-style: none;
    color: grey;
    font-size: 15px;
    letter-spacing: 0.5px;
}

ul a{
    text-decoration: none;
    outline: none;
    color: #119cf8;
    transition: 0.3s;
}

ul a:hover{
    color: #ff9800;
}

ul li{
    margin: 10px 0;
    height: 25px;
}

li i{
    margin-right: 20px;
}

.bonjour{
    width: 100%;
    color: #3294F6;
    text-align: center;
}

.bonjour a{
    text-decoration: none;
}

.bonjour i{
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 6px;
    color: #3294F6;
    border-radius: 50%;
    border: 3px solid #3498db;
    transition: 0.3s;
}

.bonjour i:hover{
    background: #e4732d;
}

.footer-bottom {
    padding: 10px;
    background-color: grey;
    color: #fff;
    font-size: 12px;
}
/**
FIN
HEADER
**/